

body {
  font-family: Helvetica;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

h2, h3, h4, h5, a {
  font-family: Helvetica;
  color: seashell;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;
  width: auto;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding-right: 10px;
}

/* Main */

.main {
  display: flex;
  padding-top: 69px;
  flex-direction: column;
  align-items: center;
}

/* Mission */

#mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

#mission .content {
  background-color: black;
  width: 100%;
  align-items: center;
  margin: auto;
}

/* Featured */

#featured {
  width: 1000px;
  padding-top: 60px;
}

.item {
  padding: 5px;
}

.item img{
  margin: 10px;
  height: 200px;
  width: 300px;
}

.item h4 {
  padding: 5px;
}

/* Locations */

#locations {
  height: 500px;
  width: 1200px;
  padding-top: 60px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

#locations h2 {
  padding-bottom: 10px;
}

.store {
  width: 300px;
  margin: 5px 20px;
  background-color: black;
  opacity: 1.0;
}

/* Contact */

.contact {
  height: 200px;
  width: 100%;
}

/* Footer */

.footer {
  text-align: left;
  padding-left: 20px;
}
